{% extends 'base.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
{% block content %}

<p>

    <div class="extend-form" style="width:80%">
    
        <h2 style="color:white;">Password Reset</h2>
        <div style="float:left; color:black !important; padding:5px; margin-bottom:10%; background:white; border-radius:5px;border:6px black;width:auto">
        
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
            
            
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
            <div class="d-flex justify-content-center links">
                <a href="{% url 'loginuser' %}" class="btn brn-primary">Login</a>
            </div>
        </div><br><br>
    </div>

</p>
{% endblock %}