{#{% extends 'base.html' %}#}
{#{% block content %}#}
{#<p>#}
{##}
{#    <div class="extend-form" style="width:80%">#}
{#    #}
{#        <h2 style="color:white;">Password Reset</h2>#}
{#        <div style="float:left; color:black !important; padding:5px; margin-bottom:10%; background:white; border-radius:5px;border:6px black;width:auto">#}
{#        #}
{#            The password reset link was invalid, possibly because it has already been used.#}
{#            Please request a new password reset.#}
{#            <div class="d-flex justify-content-center links">#}
{#                <a href="{% url 'password_Reset_form' %}" class="btn brn-primary">Retry</a>#}
{#            </div>#}
{#        </div><br><br>#}
{#    </div>#}
{##}
{#</p>#}
{#{% endblock %}#}
{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}

{% block content %}
  <h1>Reset your password</h1>
  {% if validlink %}
    <p>Please enter your new password twice:</p>
    <form action="." method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Change my password" /></p>
    </form>
  {% else %}
    <p>The password reset link was invalid, possibly because it has
    already been used. Please request a new password reset.</p>
  {% endif %}
{% endblock %}